#admin-main {
    width: 100vw;
    color: white;
    margin: 0 auto;
    display: flex;
}

.admin-function {
   
    
    height: 15vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 1em;
}

.function-btn {
    background-color: rgb(255, 255, 255);
    color: blue;
    width: 8em;
    height: 8em;
    font-weight: 900;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    
}


#create-user-com {
    width: 30vw;
    padding: 2em 2em;
}

#student-list {
    margin-top: 2em;
    background-color: rgb(19, 19, 19);   
    padding: 1.5em;
    width: 50%;
    height: fit-content;
}

table, th, td {
    border: 1px solid;
    padding: 1em;
  }