.signup-container{
    margin: 0 auto;
    display: grid;
   
}


.signup-container button{
    margin-top: 2em;
    height: 3em;
    width: 9em;
    background-color: rgb(80, 80, 233);
    color: white;
    border: none;
}

button:hover {
    cursor: pointer;
    
}