.signup-container{
    margin: 0 auto;
    background-color: rgb(19, 19, 19);   
    padding: 1.5em;
}


.signup-container button{
    margin-top: 2em;
    height: 3em;
    width: 9em;
    background-color: rgb(80, 80, 233);
    color: white;
    border: none;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
}

.signup-container input {
    margin-left: 1em;
    border: 1px solid gold;
   
}

label {
    font-weight: 600;
    
}

